/**
 * -----------------------------------------------------------------------------
 * $ANCHOR
 * -----------------------------------------------------------------------------
 */
 
a,
.link { 
    color: $color-brand-primary;

    &:hover {
        text-decoration: none;
    }
}

.link--plain {
    border: 0;

    &:hover {
        border: 0;
    }
}