/**
 * -----------------------------------------------------------------------------
 * $ANCHOR
 * -----------------------------------------------------------------------------
 */
 
a,
.link { 
    @include anchor-underline();
}

.link--plain {
    border: 0;
    text-decoration: none;

    &:hover {
        border: 0;
    }
}