/*
 * ------------------------------------------------------------------------
 *   $ARTICLE
 * ------------------------------------------------------------------------
 */
 
article {
    margin-left: $margin-mobile;
    margin-right: $margin-mobile;
    margin-top: $spacing-xxl;
    max-width: $width-container-mobile;
    position: relative;

    @include bp-min-width($bp-tablet) {
        margin-left: $margin-tablet;
        margin-right: $margin-tablet;
        margin-top: $spacing-xxxl;
    }

    @include bp-min-width($bp-desktop) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    @include bp-min-width($bp-desktop-m) {
        max-width: $width-container;
    }

    h2 {
        margin-bottom: $spacing-xs;

        & + h4 {
            margin-top: 0;
        }
    }
}

    .article__title { 
        margin-bottom: $spacing-s;

        color: $color-text-heading;
    }

    .article__meta {
        margin-bottom: $spacing-xxxl;

        color: $color-text-meta;
        @include font-style-meta();
        font-size: $font-size-default;

        @include bp-min-width($bp-tablet) {
            margin-bottom: $spacing-xxxl;
        }

        a {
            color: $color-text-meta;
        }
    }

    .article__body {
        margin-bottom: $spacing-xxxl;
        margin-right: auto;
        max-width: $width-content;

        font-size: $font-size-small;

        @include bp-min-width($bp-desktop) {
            margin-bottom: $spacing-xxxl;
        }

        h4 {
            color: $color-text-subheading;
        }

        a {
            font-weight: $font-weight-bold;
        }
    }