/*
 * ------------------------------------------------------------------------
 *   $ARTICLE
 * ------------------------------------------------------------------------
 */
 
article {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-container;
    padding: 5rem 0 0;
    position: relative;

    h1 { 
        margin-bottom: 4rem;
        margin-top: 0;

        font-size: 4rem;
    }
}

.article__body {
    padding-left: 17rem;

    p,
    ul { 
        margin-bottom: $spacing-medium;
        max-width: $width-content;
        
        font-size: $font-size-default;
        line-height: $line-height-paragraph;
        color: $color-text;
    }

    a {
        color: $color-purple;

        &:hover { text-decoration: none; }
    }
    
    blockquote {
        margin-bottom: $spacing-medium;
        margin-left: 0;
        padding: 1rem;
        width: $width-content;
        
        font-size: $font-size-default;
        line-height: $line-height-paragraph;
        
        background: $color-grey-1;
        border-left: 4px solid $color-grey-3;
        border-radius: $border-radius;
    }

    img {
        height: auto;
        width: $width-content;

        border-radius: $border-radius;

        &.img-width--full {
            margin-left: -17rem;
            width: $width-container;
        }
    }
    
    hr {
        height: 0;
        margin-top: 0;
        margin-bottom: 4rem;
        padding-top: 2rem;
        
        border: 0;
        border-bottom: 1px solid $color-grey-1;
    }
}

.article__meta {
    position: absolute;
    width: 13rem;
    left: 0;

    border-right: 1px solid rgba($color-black, 0.1);

    p {
        margin-bottom: 0;
        margin-top: 0;

        font-size: 1rem;
        font-style: italic;
    }

    a {
        color: $color-text;
    }
}