/*
 * ------------------------------------------------------------------------
 *   $ARTICLE
 * ------------------------------------------------------------------------
 */
 
article {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-container;
    position: relative;
}

    .article__title { 
        margin-bottom: $spacing-medium;
        padding-top: $spacing-gigantic * 2;

        @include bp-min-width($bp-tablet) {
            padding-top: $spacing-gigantic * 3;

            text-align: center;
        }

        @include bp-min-width($bp-desktop) {
            padding-top: $spacing-gigantic * 4;
        }
    }

    .article__meta {
        margin-bottom: $spacing-gigantic * 2;

        color: $color-grey-5;
        font-family: $font-family-subheading;
        font-size: $font-size-heading-four;
        font-style: italic;

        @include bp-min-width($bp-tablet) {
            margin-bottom: $spacing-gigantic * 3;

            text-align: center;
        }

        @include bp-min-width($bp-desktop) {
            margin-bottom: $spacing-gigantic * 4;
        }

        a {
            color: $color-grey-5;
        }
    }

    .article__body {
        margin-bottom: $spacing-gigantic * 2;
        margin-left: auto;
        margin-right: auto;
        max-width: $width-content;

        @include bp-min-width($bp-desktop) {
            margin-bottom: $spacing-gigantic * 3;
        }
    }