/*
 * ------------------------------------------------------------------------
 *   $ARTICLE
 * ------------------------------------------------------------------------
 */
 
article {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-container;
    position: relative;
}

    .article__title { 
        margin-bottom: $spacing-medium;
        padding-top: $spacing-gigantic * 4;

        text-align: center;
    }

    .article__meta {
        margin-bottom: $spacing-gigantic * 3;

        color: $color-grey-5;
        font-family: $font-family-subheading;
        font-size: $font-size-heading-two;
        font-style: italic;
        text-align: center;

        a {
            color: $color-grey-5;
        }
    }

    .article__body {
        margin-bottom: $spacing-gigantic * 2;
        margin-left: auto;
        margin-right: auto;
        max-width: $width-content;

        h1,h2,h3,h4,h5,h6,
        p {
            padding-left: $spacing-gigantic;
            padding-right: $spacing-gigantic;
        }

        ol,
        ul {
            padding-left: $spacing-gigantic * 2;
            padding-right: $spacing-gigantic * 2;
        }

        p,
        ol,
        ul {
            margin-bottom: $spacing-medium;
            
            font-size: $font-size-default;
            line-height: $line-height-paragraph;
        }

        p + h2, p + h3, p + h4,
        ol + h2, ol + h3, ol + h4,
        ul + h2, ul + h3, ul + h4 { 
            padding-top: $spacing-medium * 2;
        }
        
        blockquote {
            margin-bottom: $spacing-medium;
            margin-left: 0;
            padding: 1rem;
            width: $width-content;
            
            font-size: $font-size-default;
            line-height: $line-height-paragraph;
            
            background: $color-grey-1;
            border-left: 4px solid $color-grey-3;
            border-radius: $border-radius;
        }

        img {
            height: auto;
            width: $width-content;

            border-radius: $border-radius;

            &.img-width--full {
                margin-left: -17rem;
                width: $width-container;
            }
        }
        
        hr {
            height: 0;
            margin-top: 0;
            margin-bottom: 4rem;
            padding-top: 2rem;
            
            border: 0;
            border-bottom: 1px solid $color-grey-1;
        }
    }