/**
 * -----------------------------------------------------------------------------
 * $ASIDE
 * -----------------------------------------------------------------------------
 */
 
aside,
.aside {
    display: block;
    margin-left: $margin-mobile;
    margin-right: $margin-mobile;
    max-width: $width-container-mobile;

    @include bp-min-width($bp-tablet) {
        margin-left: $margin-tablet;
        margin-right: $margin-tablet;
    }

    @include bp-min-width($bp-desktop) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    @include bp-min-width($bp-desktop-m) {
        max-width: $width-container;
    }
}