/*
 * ------------------------------------------------------------------------
 *   $BLOCKQUOTE
 * ------------------------------------------------------------------------
 */

blockquote {
    
    .article__body & {
        margin-bottom: $spacing-l;
        margin-left: $spacing-m;
        margin-right: $article-margin;
        margin-top: $spacing-l;

        background-color: transparent;
        color: $color-text-blockquote;

        @include font-style-blockquote();
        font-size: $font-size-default;

        @include bp-min-width($bp-desktop) {
            margin-left: $spacing-xl;

            font-size: $font-size-large;
        }

        & + h2 {
            margin-top: $spacing-s;
    
            @include bp-min-width($bp-desktop) {
                margin-top: $spacing-xxl;
            }
        }

        & + h3,
        & + h4 { 
        margin-top: $spacing-s;

        @include bp-min-width($bp-desktop) {
            margin-top: $spacing-xl;
        }
    }

        p {
            margin-bottom: 0;
            padding: 0;            
        }
    }
}