/*
 * ------------------------------------------------------------------------
 *   $BODY
 * ------------------------------------------------------------------------
 */
 
body {
    margin: 0;
    
    background: $color-grey-dark;
    color: $color-grey-4;
    font-family: $font-family-default;
    font-size: $font-size-default-em;
    text-rendering: optimizeLegibility;
}
