/*
 * ------------------------------------------------------------------------
 *   $HEADING
 * ------------------------------------------------------------------------
 */
 
h1,h2,h3,h4 {
    margin-top: 0;
    position: relative;

    @include font-style-heading();
}

h1 {    
    font-size: $font-size-heading-one-mobile;
    line-height: $line-height-heading;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-heading-one;
    }
}

h2 {
    font-size: $font-size-heading-two-mobile;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-heading-two;
    }
}

h3 {
    font-size: $font-size-heading-three-mobile;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-heading-three;
    }
}

h4 {
    @include font-style-subheading();
    font-size: $font-size-heading-four-mobile;
    font-style: italic;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-heading-four;
    }
}