/*
 * ------------------------------------------------------------------------
 *   $HEADING
 * ------------------------------------------------------------------------
 */
 
h1,h2,h3,h4 {
    margin-left: $article-margin;
    margin-right: $article-margin;
    margin-top: 0;
    
    font-family: $font-family-heading;
    font-weight: 700;

    @include bp-min-width($bp-desktop) {
        margin-left: $article-margin-large;
        margin-right: $article-margin-large;
    }
}

h1 {
    margin-bottom: 1rem;
    margin-top: 0;
    
    color: $color-grey-2;
    font-family: $font-family-heading;
    font-size: $font-size-heading-one-mobile;
    font-weight: 700;
    line-height: 1.2;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-heading-one;
    }
}

h2 {
    font-size: $font-size-heading-two-mobile;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-heading-two;
    }
}

h3 {
    font-size: $font-size-heading-three-mobile;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-heading-three;
    }
}

h4 {
    font-size: $font-size-heading-four-mobile;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-heading-three;
    }
}