/*
 * ------------------------------------------------------------------------
 *   $IMAGE
 * ------------------------------------------------------------------------
 */
 
img {
    height: auto;
    width: 100%;
    
    .article__body & {
        padding-bottom: $spacing-small;
        padding-top: $spacing-small;

        @include bp-min-width($bp-desktop) {
            padding-bottom: $spacing-large;
            padding-top: $spacing-large;
        }
    }
}