/*
 * ------------------------------------------------------------------------
 *   $LIST-BASE
 * ------------------------------------------------------------------------
 */

ol,
ul {
    margin-bottom: $spacing-medium;
    margin-left: $article-margin;
    margin-right: $article-margin;
    padding-left: $spacing-large;
    
    font-size: $font-size-small;
    line-height: $line-height-paragraph-small;

    @include bp-min-width($bp-desktop) {
        margin-left: 0;
        padding-left: $spacing-gigantic * 2;

        font-size: $font-size-default;
        line-height: $line-height-paragraph;
    }

    & + h2, 
    & + h3,
    & + h4 { 
        padding-top: $spacing-medium * 2;
    }

    .article__body & {
        .footnote-item p,
        p {
            margin-bottom: 0;
            padding-left: $spacing-small;
            padding-right: 0;
        }
    }
}
