/*
 * ------------------------------------------------------------------------
 *   $LIST-BASE
 * ------------------------------------------------------------------------
 */

ol,
ul {
    margin-bottom: $spacing-m;
    margin-left: $spacing-m;
    margin-right: $spacing-m;
    padding-left: $spacing-l;
    
    @include font-style-paragraph();
    font-size: $font-size-small;

    @include bp-min-width($bp-desktop) {
        margin-left: 0;
        padding-left: $spacing-xxl;

        font-size: $font-size-default;
    }

    & + h2, 
    & + h3,
    & + h4 { 
        padding-top: $spacing-m * 2;
    }

    .article__body & {
        .footnote-item p,
        p {
            margin-bottom: 0;
            margin-left: 0;
            padding-left: $spacing-s;
            padding-right: 0;
        }
    }
}
