/*
 * ------------------------------------------------------------------------
 *   $PARAGRAPH
 * ------------------------------------------------------------------------
 */
 
p {
    margin-bottom: $spacing-m;
    margin-top: 0;

    @include font-style-paragraph();
    font-size: $font-size-small;

    & + h2 {
        margin-top: $spacing-xl;

        @include bp-min-width($bp-desktop) {
            margin-top: $spacing-xxl;
        }
    }

    & + h3,
    & + h4 { 
        margin-top: $spacing-l;

        @include bp-min-width($bp-desktop) {
            margin-top: $spacing-xl;
        }
    }

    @include bp-min-width($bp-desktop) {
        margin-bottom: $spacing-m;

        font-size: $font-size-default;
    }
}