/*
 * ------------------------------------------------------------------------
 *   $PARAGRAPH
 * ------------------------------------------------------------------------
 */
 
p {
    margin-bottom: $spacing-medium;
    margin-left: $article-margin;
    margin-right: $article-margin;
    margin-top: 0;

    font-size: $font-size-small;
    font-weight: 300;
    line-height: $line-height-paragraph-small;

    & + h2,
    & + h3,
    & + h4 { 
        padding-top: $spacing-small;

        @include bp-min-width($bp-desktop) {
            padding-top: $spacing-medium * 2;
        }
    }

    @include bp-min-width($bp-desktop) {
        margin-left: $article-margin-large;
        margin-right: $article-margin-large;

        font-size: $font-size-default;
        line-height: $line-height-paragraph;
    }

    &.summary__excerpt {
        line-height: $line-height-paragraph-small;
    }

    footer & {
        margin-bottom: 0;
    }
}