/*
 * ------------------------------------------------------------------------
 *   $SUP
 * ------------------------------------------------------------------------
 */

sup {
    font-size: $font-size-small;

    a {
        border: 0;
        color: $color-lime-3;

        &:hover {
            border: 0;
        }
    }
}