{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header>
    <div class="header__logo">
        <a class="link link--plain" href="{{@blog.url}}">
            {{#if @blog.logo}}
                <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{else}}
                <div class="site-logo"></div>
            {{/if}}
        </a>
    </div>
    
    <nav class="header__nav">
        {{> "site-nav"}}
    </nav>    
</header>

<section class="section section--intro">
    <h1>Designer and front end dev</h1>
    <h2>I work on cool apps and websites at <a href="https://moov2.com">Moov2</a>.</h2>
</section>

<section class="section">
    <div class="grid grid--triple">
        {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}

        {{/foreach}}
    </div>
</section>