/*
 * ------------------------------------------------------------------------
 *   $VARS
 * ------------------------------------------------------------------------
 */

$border-radius: 0.2rem;

$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-m: 1280px;
$bp-desktop-l: 1440px;

$color-black: #000;
$color-grey-dark: #212121;
$color-white: #fff;

$color-brand-primary: #44288e;
$color-site-background: #07050c;
$color-text: #b9b6bf;
$color-text-heading: #dfdde4;
$color-text-subheading: #7b7882;
$color-text-meta: #7b7882;
$color-text-blockquote: #8677ab;
$color-text-mark: #c0eb75;

$font-family-default: 'Source Sans Pro', sans-serif;
$font-family-heading: 'Source Sans Pro', sans-serif; 
$font-family-subheading: 'Source Sans Pro', sans-serif;

$font-size-default-em: 1.6em;
$font-size-default: 2.1rem;
$font-size-tiny: 1.6rem;
$font-size-small: 1.8rem;
$font-size-medium: 2.5rem;
$font-size-large: 3.2rem;
$font-size-huge: 4rem;
$font-size-gigantic: 5.7rem;

$font-size-code: 1.8rem;
$font-size-code-small: 1.6rem;

$font-size-heading-one: $font-size-gigantic;
$font-size-heading-one-mobile: $font-size-large;
$font-size-heading-two: $font-size-huge;
$font-size-heading-two-mobile: $font-size-medium;
$font-size-heading-three: $font-size-medium;
$font-size-heading-three-mobile: $font-size-default;
$font-size-heading-four: $font-size-default;
$font-size-heading-four-mobile: $font-size-small;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$letter-spacing-large: .1rem;

$line-height-blockquote: 1.4;
$line-height-blockquote-small: 1.4;
$line-height-heading: 1.2;
$line-height-paragraph: 1.4;
$line-height-paragraph-small: 1.3;
$line-height-tight: 1;

$spacing-xs: .5rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2.5rem;
$spacing-xl: 4rem;
$spacing-xxl: 6.5rem;
$spacing-xxxl: 10.5rem;

$margin-mobile: $spacing-m;
$margin-tablet: $spacing-l;

$article-margin: $spacing-s;
$article-margin-large: $spacing-l;

$width-container-mobile: 94rem;
$width-container: 100rem;
$width-container-indent: 30rem;
$width-content: 72rem;

$z-index-front: 100;
$z-index-default: 1;
$z-index-under: -1;
$z-index-back: -100;