/*
 * ------------------------------------------------------------------------
 *   $VARS
 * ------------------------------------------------------------------------
 */

$border-radius: 0.2rem;

$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-large: 1440px;

$color-black: #000;
$color-grey-dark: #212121;

$color-grey-0: #f8f9fa;
$color-grey-1: #f1f3f5;
$color-grey-2: #e9ecef;
$color-grey-3: #dee2e6;
$color-grey-4: #ced4da;
$color-grey-5: #adb5bd;
$color-grey-6: #868e96;
$color-grey-7: #495057;
$color-grey-8: #343a40;
$color-grey-9: #212529;

$color-lime-0: #f4fce3;
$color-lime-1: #e9fac8;
$color-lime-2: #d8f5a2;
$color-lime-3: #c0eb75;
$color-lime-4: #a9e34b;
$color-lime-5: #94d82d;
$color-lime-6: #82c91e;
$color-lime-7: #74b816;
$color-lime-8: #66a80f;
$color-lime-9: #5c940d;

$color-purple: #3f048a;
$color-text: #2b2a28;
$color-white: #fff;

$font-family-default: 'Hind Madurai', serif;
$font-family-heading: 'Montserrat', sans-serif;
$font-family-subheading: 'Lora', Georgia, serif;

$font-size-default-em: 1.6em;
$font-size-default: 1.9rem;
$font-size-small: 1.6rem;
$font-size-medium: 2.2rem;
$font-size-large: 3.2rem;
$font-size-huge: 4.4rem;
$font-size-gigantic: 8rem;

$font-size-heading-one: $font-size-gigantic;
$font-size-heading-one-mobile: $font-size-large;
$font-size-heading-two: $font-size-large;
$font-size-heading-two-mobile: $font-size-medium;
$font-size-heading-three: $font-size-medium;
$font-size-heading-three-mobile: $font-size-default;
$font-size-heading-four: $font-size-default;
$font-size-heading-four-mobile: $font-size-small;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$letter-spacing-large: .1rem;

$line-height-blockquote: 1.4;
$line-height-paragraph: 1.6;
$line-height-paragraph-small: 1.4;

$spacing-tiny: .5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-huge: 4rem;
$spacing-gigantic: 5rem;

$article-margin: $spacing-small;
$article-margin-large: $spacing-large;

$width-container: 160rem;
$width-container-indent: 30rem;
$width-content: 70rem;