/*
 * ------------------------------------------------------------------------
 *   $GRID
 * ------------------------------------------------------------------------
 */
 
.grid {
    display: grid;

    @include bp-min-width($bp-desktop) {
        grid-column-gap: $spacing-l;
        grid-row-gap: $spacing-l;
        grid-template-columns: 1fr 1fr;
    }

    @include bp-min-width($bp-desktop-large) {
        grid-column-gap: $spacing-xl;
        grid-row-gap: $spacing-xl;
    }
}

    .grid__item {
        display: flex;
    }

.grid--double {
    grid-template-columns: 1fr;

    @include bp-min-width($bp-desktop) {
        grid-template-columns: 1fr 1fr;
    }
}
    
.grid--triple {
    grid-template-columns: 1fr;

    @include bp-min-width($bp-tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @include bp-min-width($bp-desktop) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}