/*
 * ------------------------------------------------------------------------
 *   $GRID
 * ------------------------------------------------------------------------
 */
 
.grid {
    display: grid;
    grid-column-gap: $spacing-gigantic;
    grid-row-gap: $spacing-gigantic;
}

    .grid__item {
        display: flex;
    }

.grid--double {
    grid-template-columns: 1fr 1fr;
}
    
.grid--triple {
    grid-template-columns: 1fr 1fr 1fr;
}