/**
 * -----------------------------------------------------------------------------
 * $POST-CARD
 * -----------------------------------------------------------------------------
 */

.post-card-wrapper {
    margin-bottom: $spacing-xxxl;

    @include bp-min-width($bp-tablet) {
        display: grid;
        grid-column-gap: $spacing-xxl;
        grid-template-columns: 1fr 1fr;
    }

    @include bp-min-width($bp-desktop) {
        grid-row-gap: $spacing-m;
        grid-template-columns: 1fr 35rem;
    }
}

.post-card {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: $spacing-l;
    padding-top: $spacing-xs;

    &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: span 6;
        margin-bottom: $spacing-xl;
        padding-top: 0;

        @include bp-min-width($bp-desktop) {
            padding-right: $spacing-xxl * 2;
        }

        .post-card__title {
            margin-bottom: $spacing-s;

            font-size: $font-size-heading-one-mobile;
            line-height: 1.2;

            @include bp-min-width($bp-desktop) {
                font-size: $font-size-huge;
            }
        }

        .post-card__meta {
            margin-bottom: $spacing-m;
        }

        .post-card__excerpt {
            display: block;
        }
    }
}

    .post-card__title {
        display: inline-block;
        margin-bottom: $spacing-xs;
        margin-left: 0;
        margin-right: 0;
        position: relative;

        font-size: $font-size-medium;
        line-height: 1.1;
    }

    .post-card__meta {
        margin-bottom: 0;

        color: $color-text-meta;
        @include font-style-meta();
        font-size: $font-size-small;
    }

    .post-card__excerpt {
        display: none;
        margin-bottom: 0;

        @include font-style-paragraph();
    }

.post-card-wrapper--read-next {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-xxl;

    .post-card {

        @include bp-min-width($bp-tablet) {
            margin-bottom: 0;
        }

        &:nth-child(1) {
            padding-right: 0;
        }

        &:nth-child(2) {
            .post-card__meta {
                margin-bottom: $spacing-m;
            }
        }

        .post-card__title {
            font-size: $font-size-medium;
        }
    
        .post-card__excerpt {
            display: block;
        }
    }
}