/**
 * -----------------------------------------------------------------------------
 * $SECTION
 * -----------------------------------------------------------------------------
 */
 
section,
.section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $width-container;
}

.section--intro {
    padding-bottom: $spacing-gigantic * 2;
    padding-top: $spacing-gigantic * 2;

    @include bp-min-width($bp-tablet) {
        padding-bottom: $spacing-gigantic * 3;
        padding-top: $spacing-gigantic * 3;

        text-align: center;
    }

    @include bp-min-width($bp-desktop) {
        padding-bottom: $spacing-gigantic * 4;
        padding-top: $spacing-gigantic * 4;
    }

    h1 { margin-bottom: $spacing-medium; }
    
    h2 {
        margin-bottom: 0;
        
        color: $color-grey-5;
        font-family: $font-family-subheading;
        font-style: italic;
        font-weight: 400;
    }
}