/**
 * -----------------------------------------------------------------------------
 * $SECTION
 * -----------------------------------------------------------------------------
 */
 
section,
.section {
    display: block;
    position: relative;
}

    .section__content {
        margin-left: auto;
        margin-right: auto;
        max-width: $width-container;
        position: relative;
        z-index: $z-index-default;
    }

.section--intro {
    
    .section__content {
        padding-bottom: $spacing-xxxl;
        padding-top: $spacing-xxxl;
    }

    p {
        font-family: $font-family-heading;
        font-family: 'Source Sans Pro', sans-serif; 
        font-size: 5rem;
        font-weight: 300;
        line-height: 1.4;
    }
    
    a {
        @include anchor-highlight();
        font-weight: 300;

        &:before {
            bottom: .2em;
        }
    }
}