/*
 * ------------------------------------------------------------------------
 *   $SUMMARY
 * ------------------------------------------------------------------------
 */
 
.summary {
    padding-bottom: $spacing-medium;
    padding-top: $spacing-medium;
    
    border-top: 1px solid $color-grey-7;

    @include bp-min-width($bp-tablet) {
        padding: $spacing-large $spacing-medium;

        border-right: 1px solid $color-grey-7;

        &:nth-child(even) {
            border-right: 0;
        }
    }

    @include bp-min-width($bp-desktop) {
        padding-bottom: $spacing-large;
        padding-left: $spacing-tiny;
        padding-right: $spacing-tiny;
        padding-top: $spacing-large;

        border: 1px solid $color-grey-7;
    }
    
    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(255,255,255,.1);
    }
    
    &__title {
        margin-bottom: $spacing-tiny;
        
        color: $color-grey-4;
        font-size: $font-size-heading-three;

        @include bp-min-width($bp-desktop) {
            margin-bottom: $spacing-tiny * 3;

            font-size: $font-size-heading-two;
        }

        a { 
            border: 0;
            color: $color-grey-4;

            &:hover {
                color: $color-grey-2;
            }
        }
    }
    
    &__meta {
        margin-bottom: $spacing-medium;

        color: $color-grey-5;
        font-family: $font-family-subheading;
        font-size: $font-size-small;
        font-style: italic;

        a {
            color: $color-grey-5;
        }
    }
    
    &__excerpt {
        margin-bottom: 0;
        
        font-size: $font-size-small;

        @include bp-min-width($bp-desktop) {
            font-size: $font-size-default;
        }
    }
}