/*
 * ------------------------------------------------------------------------
 *   $SUMMARY
 * ------------------------------------------------------------------------
 */
 
.summary {
    padding-bottom: $spacing-m;
    padding-top: $spacing-m;
    
    border-top: 1px solid lighten($color-site-background, 5%);

    @include bp-min-width($bp-tablet) {
        padding: $spacing-l $spacing-m;

        border-right: 1px solid lighten($color-site-background, 5%);

        &:nth-child(even) {
            border-right: 0;
        }
    }

    @include bp-min-width($bp-desktop) {
        padding-bottom: $spacing-l;
        padding-left: $spacing-xs;
        padding-right: $spacing-xs;
        padding-top: $spacing-l;

        border: 1px solid lighten($color-site-background, 5%);
    }
    
    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(255,255,255,.1);
    }
    
    &__title {
        margin-bottom: $spacing-xs;
        
        color: $color-text;
        font-size: $font-size-heading-three;

        @include bp-min-width($bp-desktop) {
            margin-bottom: $spacing-xs * 3;

            font-size: $font-size-heading-two;
        }

        a { 
            border: 0;
            color: $color-text;

            &:hover {
                color: $color-text;
            }
        }
    }
    
    &__meta {
        margin-bottom: $spacing-m;

        color: $color-text;
        font-family: $font-family-subheading;
        font-size: $font-size-small;
        font-style: italic;

        a {
            color: $color-text;
        }
    }
    
    &__excerpt {
        margin-bottom: 0;
        
        font-size: $font-size-small;

        @include bp-min-width($bp-desktop) {
            font-size: $font-size-default;
        }
    }
}