/*
 * ------------------------------------------------------------------------
 *   $SUMMARY
 * ------------------------------------------------------------------------
 */
 
.summary {
    padding: $spacing-medium;
    
    border: 1px solid $color-grey-7;
    
    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(255,255,255,.1);
    }
    
    &__title {
        color: $color-grey-4;
        margin-bottom: $spacing-small;
    }
    
    &__meta {
        color: $color-grey-5;
        font-family: $font-family-subheading;
        font-size: $font-size-small;
        font-style: italic;
    }
    
    &__excerpt {
        margin-bottom: 0;
        
        font-size: $font-size-default;
        font-weight: 300;
    }
}