/**
 * -----------------------------------------------------------------------------
 * $FOOTER
 * -----------------------------------------------------------------------------
 */

/**
 * 1. The footer is a flex-child of .site-wrapper. This ensures the footer
 *    is always at the bottom of the browser, even when there is minimal
 *    content on the page.
 */

footer,
.footer {
    margin-top: auto; /* 1. */
}

    .footer__content {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: $width-container;
        padding-bottom: $spacing-xl;
    
        font-family: $font-family-heading;
        text-align: center;

        p {
            margin-bottom: 0;

            font-size: $font-size-small;

            @include bp-min-width($bp-desktop) {
                font-size: $font-size-default;
            }
        }

        a {
            @include anchor-highlight();
        }
    }
