/**
 * -----------------------------------------------------------------------------
 * $FOOTER
 * -----------------------------------------------------------------------------
 */

/**
 * 1. The footer is a flex-child of .site-wrapper. This ensures the footer
 *    is always at the bottom of the browser, even when there is minimal
 *    content on the page.
 */

footer,
.footer {
    margin-top: auto; /* 1. */
}

    .footer__content {
        align-items: baseline;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: $margin-mobile;
        margin-left: $margin-mobile;
        margin-right: $margin-mobile;
        max-width: $width-container-mobile;
    
        font-family: $font-family-heading;
        font-size: $font-size-small;

        @include bp-min-width($bp-tablet) {
            margin-bottom: $margin-tablet * .9;
            margin-left: $margin-tablet;
            margin-right: $margin-tablet;
        }

        @include bp-min-width($bp-desktop) {
            margin-left: auto;
            margin-right: auto;
            padding-bottom: $spacing-m;

            font-size: $font-size-default;
        }

        @include bp-min-width($bp-desktop-m) {
            max-width: $width-container;
        }

        p {
            margin-bottom: 0;
            padding-top: $spacing-xs;
            width: 100%;

            color: $color-text-subheading;
            font-style: italic;
        }
    }
