/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */
 
header,
.header { 
    display: block;
    position: relative;
}

    .header__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: $width-container;
        padding-top: $spacing-xl;
        width: 100%;

        font-family: $font-family-heading;
        font-size: $font-size-small;

        @include bp-min-width($bp-desktop) {
            font-size: $font-size-default;
        }
    }
        
        .header__logo {

            a {
                color: $color-text;
                text-decoration: none;
            }

            .site-logo { 
                height: 31px;
                width: 40px;

                background: url('../images/bg-logo.svg');
                background-repeat: no-repeat;
                background-size: contain;
                fill: red;
            }
        }