/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */
 
header,
.header { 
    display: block;
    position: relative;
}

    .header__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: $margin-mobile;
        margin-right: $margin-mobile;
        margin-top: $margin-mobile;
        max-width: $width-container-mobile;

        font-family: $font-family-heading;
        font-size: $font-size-small;

        @include bp-min-width($bp-tablet) {
            margin-left: $margin-tablet;
            margin-right: $margin-tablet;
            margin-top: $margin-tablet * .9;
        }

        @include bp-min-width($bp-desktop) {
            margin-left: auto;
            margin-right: auto;
            padding-top: $spacing-m;

            font-size: $font-size-default;
        }

        @include bp-min-width($bp-desktop-m) {
            max-width: $width-container;
        }
    }
        
        .header__logo {

            a {
                color: $color-text;
                text-decoration: none;
            }

            .site-logo { 
                height: 31px;
                width: 40px;

                background: url('../images/bg-logo.svg');
                background-repeat: no-repeat;
                background-size: contain;
                fill: red;
            }
        }