/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */
 
header,
.header { 
    align-items: center;
    display: flex;
    margin-bottom: $spacing-huge;
    margin-left: auto;
    margin-right: auto;
    max-width: $width-container;
    padding-top: $spacing-medium;
    width: 100%;

    font-size: $font-size-small;

    @include bp-min-width($bp-desktop) {
        font-size: $font-size-default;
    }
        
    &__logo {
        margin-left: $article-margin;

        .site-logo { 
            height: 31px;
            width: 40px;

            background: url('../images/bg-logo.svg');
            background-repeat: no-repeat;
            background-size: contain;
            fill: red;
        }
    }
    
    &__nav {
        display: flex;
        margin-left: auto;
        margin-right: $article-margin;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            
            list-style: none;

            li {
                margin-right: $spacing-medium;
                
                &:last-child { margin-right: 0; }
            }
        }
    }
}