/**
 * -----------------------------------------------------------------------------
 * $SITE
 * -----------------------------------------------------------------------------
 */

/**
 * 1. To make footer stay at the bottom of the page, even when there is 
 *    little content on the page. Footer uses margin-top.
 *
 * 2. site-wrapper is a flex-child of body. This ensures .site-wrapper 
 *    always fills the entire height of the browser.
 *
 * 3. See _body.scss for font-size reset.
 */

.site-wrapper {
    display: flex; /* 1. */
    flex: 1; /* 2. */
    flex-direction: column;

    font-size: $font-size-default; /* 3. */
}