/**
 * -----------------------------------------------------------------------------
 * $SITE
 * -----------------------------------------------------------------------------
 */
@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
/*
 * ------------------------------------------------------------------------
 *   $VARS
 * ------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * $ANCHOR
 * -----------------------------------------------------------------------------
 */
a,
.link {
  border-bottom: 1px dashed #c0eb75;
  color: #e9ecef;
  text-decoration: none;
  transition: all .2s ease; }
  a:hover,
  .link:hover {
    color: #f1f3f5;
    border-bottom: 1px solid #c0eb75; }

.link--plain {
  border: 0; }
  .link--plain:hover {
    border: 0; }

/*
 * ------------------------------------------------------------------------
 *   $ARTICLE
 * ------------------------------------------------------------------------
 */
article {
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem;
  position: relative; }

.article__title {
  margin-bottom: 2rem;
  padding-top: 20rem;
  text-align: center; }

.article__meta {
  margin-bottom: 15rem;
  color: #adb5bd;
  font-family: "Lora", Georgia, serif;
  font-size: 3.2rem;
  font-style: italic;
  text-align: center; }
  .article__meta a {
    color: #adb5bd; }

.article__body {
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem; }
  .article__body h1, .article__body h2, .article__body h3, .article__body h4, .article__body h5, .article__body h6,
  .article__body p {
    padding-left: 5rem;
    padding-right: 5rem; }
  .article__body ol,
  .article__body ul {
    padding-left: 10rem;
    padding-right: 10rem; }
  .article__body p,
  .article__body ol,
  .article__body ul {
    margin-bottom: 2rem;
    font-size: 1.9rem;
    line-height: 1.6; }
  .article__body p + h2, .article__body p + h3, .article__body p + h4,
  .article__body ol + h2, .article__body ol + h3, .article__body ol + h4,
  .article__body ul + h2, .article__body ul + h3, .article__body ul + h4 {
    padding-top: 4rem; }
  .article__body blockquote {
    margin-bottom: 2rem;
    margin-left: 0;
    padding: 1rem;
    width: 70rem;
    font-size: 1.9rem;
    line-height: 1.6;
    background: #f1f3f5;
    border-left: 4px solid #dee2e6;
    border-radius: 0.2rem; }
  .article__body img {
    height: auto;
    width: 70rem;
    border-radius: 0.2rem; }
    .article__body img.img-width--full {
      margin-left: -17rem;
      width: 160rem; }
  .article__body hr {
    height: 0;
    margin-top: 0;
    margin-bottom: 4rem;
    padding-top: 2rem;
    border: 0;
    border-bottom: 1px solid #f1f3f5; }

/**
 * -----------------------------------------------------------------------------
 * $ASIDE
 * -----------------------------------------------------------------------------
 */
aside,
.aside {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem; }

/*
 * ------------------------------------------------------------------------
 *   $BODY
 * ------------------------------------------------------------------------
 */
/**
 * 1. Sets the default font size back to 16px (unless $font-size-default has
 *    changed value). This is the only time `em` should be used to define the
 *    font-size. This has to be `em` because of a bug in Chrome described in
 *    a link below.
 *    https://code.google.com/p/chromium/issues/detail?id=320754
 */
/**
 * 2. Sets the body to display at a min height fo the full viewport height,
 *    used in assistance with the footer margin-top: auto; rule to create a
 *    sticky footer if not enough content is available on the page.
 *    https://teamtreehouse.com/library/css-flexbox-layout/building-a-layout-with-flexbox/creating-a-sticky-footer-with-flexbox#video-tabs
 */
body {
  display: flex;
  /* 2. */
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background: #212121;
  color: #ced4da;
  font-family: "Hind Madurai", serif;
  font-size: 1.6em;
  /* 1. */
  text-rendering: optimizeLegibility; }

/*
 * ------------------------------------------------------------------------
 *   $HEADING
 * ------------------------------------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

h1 {
  margin-bottom: 1rem;
  margin-top: 0;
  color: #e9ecef;
  font-family: "Montserrat", sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2; }

h3 {
  font-size: 2rem; }

/**
 * -----------------------------------------------------------------------------
 * $HTML
 * -----------------------------------------------------------------------------
 */
/**
 * 1. Makes REM units easier to work with because 1rem = 10px.
 * 2. Allow for full screen styles without using vh
 */
html {
  font-family: "Hind Madurai", serif;
  font-size: 62.5%;
  /* 1. */
  height: 100%;
  /* 2. */
  width: 100%;
  box-sizing: border-box; }

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
*, *:before, *:after {
  box-sizing: inherit; }

/*
 * ------------------------------------------------------------------------
 *   $PARAGRAPH
 * ------------------------------------------------------------------------
 */
p {
  margin-top: 0;
  font-weight: 300; }

/*
 * ------------------------------------------------------------------------
 *   $GRID
 * ------------------------------------------------------------------------
 */
.grid {
  display: grid;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem; }

.grid__item {
  display: flex; }

.grid--double {
  grid-template-columns: 1fr 1fr; }

.grid--triple {
  grid-template-columns: 1fr 1fr 1fr; }

/**
 * -----------------------------------------------------------------------------
 * $SECTION
 * -----------------------------------------------------------------------------
 */
section,
.section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem; }

.section--intro {
  padding-bottom: 20rem;
  padding-top: 20rem; }
  .section--intro h1 {
    margin-bottom: 2rem; }
  .section--intro h2 {
    margin-bottom: 0;
    color: #adb5bd;
    font-family: "Lora", Georgia, serif;
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 400; }

/*
 * ------------------------------------------------------------------------
 *   $SUMMARY
 * ------------------------------------------------------------------------
 */
.summary {
  padding: 3rem;
  border: 1px solid #495057; }
  .summary:hover {
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.1); }
  .summary__title {
    margin-bottom: 1.5rem;
    color: #ced4da;
    font-size: 3.2rem; }
    .summary__title a {
      border: 0;
      color: #ced4da; }
      .summary__title a:hover {
        color: #e9ecef; }
  .summary__meta {
    margin-bottom: 2rem;
    color: #adb5bd;
    font-family: "Lora", Georgia, serif;
    font-size: 1.6rem;
    font-style: italic; }
    .summary__meta a {
      color: #adb5bd; }
  .summary__excerpt {
    margin-bottom: 0;
    font-size: 1.9rem; }

/**
 * -----------------------------------------------------------------------------
 * $FOOTER
 * -----------------------------------------------------------------------------
 */
footer,
.footer {
  padding-bottom: 2rem;
  padding-top: 10rem;
  color: #adb5bd;
  text-align: center;
  font-size: 1.6rem; }

/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */
header,
.header {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem;
  padding-top: 2rem; }
  header__logo,
  .header__logo {
    height: 36px;
    width: 40px; }
  header__nav,
  .header__nav {
    display: flex;
    margin-left: auto; }
    header__nav a,
    .header__nav a {
      font-size: 1.9rem; }
    header__nav ul,
    .header__nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none; }
      header__nav ul li,
      .header__nav ul li {
        margin-right: 2rem; }
        header__nav ul li:last-child,
        .header__nav ul li:last-child {
          margin-right: 0; }

/**
 * -----------------------------------------------------------------------------
 * $SITE
 * -----------------------------------------------------------------------------
 */
/**
 * 1. See _body.scss for font-size reset.
 */
.site-wrapper {
  font-size: 1.9rem;
  /* 1. */ }

/**
 * -----------------------------------------------------------------------------
 * $TEXT
 * -----------------------------------------------------------------------------
 */
.text--h1 {
  margin-bottom: 1rem;
  margin-top: 0;
  color: #e9ecef;
  font-family: "Montserrat", sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2; }
