/**
 * -----------------------------------------------------------------------------
 * $SITE
 * -----------------------------------------------------------------------------
 */
@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
/*
 * ------------------------------------------------------------------------
 *   $VARS
 * ------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * $MEDIA-QUERIES
 * -----------------------------------------------------------------------------
 */
/**
 * Mixins for defining media queries. These mixins should always be used
 * to define media query breakpoints.
 */
/**
 * Only use in rare circumstances, favour `bp-min-width`.
 */
/**
 * -----------------------------------------------------------------------------
 * $ANCHOR
 * -----------------------------------------------------------------------------
 */
a,
.link {
  border-bottom: 1px dashed #c0eb75;
  color: #e9ecef;
  text-decoration: none;
  transition: all .2s ease; }
  a:hover,
  .link:hover {
    color: #f1f3f5;
    border-bottom: 1px solid #c0eb75; }

.link--plain {
  border: 0; }
  .link--plain:hover {
    border: 0; }

/*
 * ------------------------------------------------------------------------
 *   $ARTICLE
 * ------------------------------------------------------------------------
 */
article {
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem;
  position: relative; }

.article__title {
  margin-bottom: 2rem;
  padding-top: 10rem; }
  @media all and (min-width: 1024px) {
    .article__title {
      padding-top: 20rem;
      text-align: center; } }

.article__meta {
  margin-bottom: 10rem;
  color: #adb5bd;
  font-family: "Lora", Georgia, serif;
  font-size: 1.9rem;
  font-style: italic; }
  @media all and (min-width: 1024px) {
    .article__meta {
      margin-bottom: 15rem;
      text-align: center; } }
  .article__meta a {
    color: #adb5bd; }

.article__body {
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem; }
  @media all and (min-width: 1024px) {
    .article__body {
      margin-bottom: 15rem; } }

/**
 * -----------------------------------------------------------------------------
 * $ASIDE
 * -----------------------------------------------------------------------------
 */
aside,
.aside {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem; }

/*
 * ------------------------------------------------------------------------
 *   $BLOCKQUOTE
 * ------------------------------------------------------------------------
 */
.article__body blockquote {
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border-color: #343a40;
  border-width: 1px;
  border-style: solid;
  border-left: 4px solid #c0eb75; }
  .article__body blockquote p {
    margin-bottom: 0;
    padding: 0;
    color: #adb5bd;
    font-family: "Lora", Georgia, serif;
    font-size: 1.9rem;
    font-style: italic;
    line-height: 1.4; }
    @media all and (min-width: 1024px) {
      .article__body blockquote p {
        font-size: 2.2rem; } }

/*
 * ------------------------------------------------------------------------
 *   $BODY
 * ------------------------------------------------------------------------
 */
/**
 * 1. Sets the default font size back to 16px (unless $font-size-default has
 *    changed value). This is the only time `em` should be used to define the
 *    font-size. This has to be `em` because of a bug in Chrome described in
 *    a link below.
 *    https://code.google.com/p/chromium/issues/detail?id=320754
 */
/**
 * 2. Sets the body to display at a min height fo the full viewport height,
 *    used in assistance with the footer margin-top: auto; rule to create a
 *    sticky footer if not enough content is available on the page.
 *    https://teamtreehouse.com/library/css-flexbox-layout/building-a-layout-with-flexbox/creating-a-sticky-footer-with-flexbox#video-tabs
 */
body {
  display: flex;
  /* 2. */
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background: #212529;
  color: #ced4da;
  font-family: "Hind Madurai", serif;
  font-size: 1.6em;
  /* 1. */
  text-rendering: optimizeLegibility; }

/*
 * ------------------------------------------------------------------------
 *   $CODE
 * ------------------------------------------------------------------------
 */
code {
  padding-bottom: 0.1666666667rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #343a40;
  border-color: #4b545c;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 1px;
  white-space: pre-wrap; }
  @media all and (min-width: 1024px) {
    code {
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.25rem; } }

pre {
  margin-bottom: 2rem;
  margin-top: 0;
  padding: 1rem;
  background-color: #343a40;
  border-color: #4b545c;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 1px; }
  pre code {
    padding: 0;
    background-color: transparent;
    border: 0; }

/*
 * ------------------------------------------------------------------------
 *   $HEADING
 * ------------------------------------------------------------------------
 */
h1, h2, h3, h4 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }
  @media all and (min-width: 1024px) {
    h1, h2, h3, h4 {
      margin-left: 3rem;
      margin-right: 3rem; } }

h1 {
  margin-bottom: 1rem;
  margin-top: 0;
  color: #e9ecef;
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2; }
  @media all and (min-width: 1024px) {
    h1 {
      font-size: 8rem; } }

h2 {
  font-size: 2.2rem; }
  @media all and (min-width: 1024px) {
    h2 {
      font-size: 3.2rem; } }

h3 {
  font-size: 1.9rem; }
  @media all and (min-width: 1024px) {
    h3 {
      font-size: 2.2rem; } }

h4 {
  font-size: 1.6rem; }
  @media all and (min-width: 1024px) {
    h4 {
      font-size: 2.2rem; } }

/*
 * ------------------------------------------------------------------------
 *   $HR
 * ------------------------------------------------------------------------
 */
hr {
  height: 0;
  margin-top: 0;
  margin-bottom: 4rem;
  padding-top: 2rem;
  border: 0;
  border-bottom: 1px solid #343a40; }

/**
 * -----------------------------------------------------------------------------
 * $HTML
 * -----------------------------------------------------------------------------
 */
/**
 * 1. Makes REM units easier to work with because 1rem = 10px.
 * 2. Allow for full screen styles without using vh
 */
html {
  font-family: "Hind Madurai", serif;
  font-size: 62.5%;
  /* 1. */
  height: 100%;
  /* 2. */
  width: 100%;
  box-sizing: border-box; }

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
*, *:before, *:after {
  box-sizing: inherit; }

/*
 * ------------------------------------------------------------------------
 *   $IMAGE
 * ------------------------------------------------------------------------
 */
img {
  height: auto;
  width: 100%; }
  .article__body img {
    padding-bottom: 1rem;
    padding-top: 1rem; }
    @media all and (min-width: 1024px) {
      .article__body img {
        padding-bottom: 3rem;
        padding-top: 3rem; } }

/*
 * ------------------------------------------------------------------------
 *   $LIST-BASE
 * ------------------------------------------------------------------------
 */
ol, ul {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  line-height: 1.4; }
  @media all and (min-width: 1024px) {
    ol, ul {
      margin-left: 0;
      padding-left: 10rem;
      font-size: 1.9rem;
      line-height: 1.6; } }
  ol + h2, ol + h3, ol + h4,
  ul + h2,
  ul + h3,
  ul + h4 {
    padding-top: 4rem; }
  .article__body ol .footnote-item p,
  .article__body ol p,
  .article__body ul .footnote-item p,
  .article__body ul p {
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 0; }

/*
 * ------------------------------------------------------------------------
 *   $MARK
 * ------------------------------------------------------------------------
 */
mark {
  background-color: #c0eb75; }

/*
 * ------------------------------------------------------------------------
 *   $PARAGRAPH
 * ------------------------------------------------------------------------
 */
p {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4; }
  p + h2, p + h3, p + h4 {
    padding-top: 1rem; }
    @media all and (min-width: 1024px) {
      p + h2, p + h3, p + h4 {
        padding-top: 4rem; } }
  @media all and (min-width: 1024px) {
    p {
      margin-left: 3rem;
      margin-right: 3rem;
      font-size: 1.9rem;
      line-height: 1.6; } }
  footer p {
    margin-bottom: 0; }

/*
 * ------------------------------------------------------------------------
 *   $SUP
 * ------------------------------------------------------------------------
 */
sup {
  font-size: 1.6rem; }
  sup a {
    border: 0;
    color: #c0eb75; }
    sup a:hover {
      border: 0; }

/*
 * ------------------------------------------------------------------------
 *   $EMBED
 * ------------------------------------------------------------------------
 */
.embed {
  display: block;
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-radius: 0.2rem; }
  .embed .embed__media {
    height: 0;
    margin-top: 0;
    max-width: 100%;
    padding-bottom: 56.25%;
    position: relative; }
    .embed .embed__media iframe, .embed .embed__media object, .embed .embed__media embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }

/*
 * ------------------------------------------------------------------------
 *   $GRID
 * ------------------------------------------------------------------------
 */
.grid {
  display: grid; }
  @media all and (min-width: 1024px) {
    .grid {
      grid-column-gap: 5rem;
      grid-row-gap: 5rem;
      grid-template-columns: 1fr 1fr; } }

.grid__item {
  display: flex; }

.grid--double {
  grid-template-columns: 1fr; }
  @media all and (min-width: 1024px) {
    .grid--double {
      grid-template-columns: 1fr 1fr; } }

.grid--triple {
  grid-template-columns: 1fr; }
  @media all and (min-width: 1024px) {
    .grid--triple {
      grid-template-columns: 1fr 1fr 1fr; } }

/**
 * -----------------------------------------------------------------------------
 * $SECTION
 * -----------------------------------------------------------------------------
 */
section,
.section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem; }

.section--intro {
  padding-bottom: 20rem;
  padding-top: 20rem;
  text-align: center; }
  .section--intro h1 {
    margin-bottom: 2rem; }
  .section--intro h2 {
    margin-bottom: 0;
    color: #adb5bd;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    font-weight: 400; }

/*
 * ------------------------------------------------------------------------
 *   $SUMMARY
 * ------------------------------------------------------------------------
 */
.summary {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #495057; }
  @media all and (min-width: 1024px) {
    .summary {
      padding: 3rem;
      border: 1px solid #495057; } }
  .summary:hover {
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.1); }
  .summary__title {
    margin-bottom: 0.5rem;
    color: #ced4da;
    font-size: 2.2rem; }
    @media all and (min-width: 1024px) {
      .summary__title {
        margin-bottom: 1.5rem;
        font-size: 3.2rem; } }
    .summary__title a {
      border: 0;
      color: #ced4da; }
      .summary__title a:hover {
        color: #e9ecef; }
  .summary__meta {
    margin-bottom: 2rem;
    color: #adb5bd;
    font-family: "Lora", Georgia, serif;
    font-size: 1.6rem;
    font-style: italic; }
    .summary__meta a {
      color: #adb5bd; }
  .summary__excerpt {
    margin-bottom: 0;
    font-size: 1.6rem; }
    @media all and (min-width: 1024px) {
      .summary__excerpt {
        font-size: 1.9rem; } }

/**
 * -----------------------------------------------------------------------------
 * $FOOTER
 * -----------------------------------------------------------------------------
 */
footer,
.footer {
  padding-bottom: 2rem;
  padding-top: 10rem;
  color: #adb5bd;
  text-align: center;
  font-size: 1.6rem; }

/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */
header,
.header {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 160rem;
  padding-top: 2rem;
  font-size: 1.6rem; }
  @media all and (min-width: 1024px) {
    header,
    .header {
      font-size: 1.9rem; } }
  header__logo,
  .header__logo {
    height: 36px;
    margin-left: 1rem;
    width: 40px; }
  header__nav,
  .header__nav {
    display: flex;
    margin-left: auto;
    margin-right: 1rem; }
    header__nav ul,
    .header__nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none; }
      header__nav ul li,
      .header__nav ul li {
        margin-right: 2rem; }
        header__nav ul li:last-child,
        .header__nav ul li:last-child {
          margin-right: 0; }

/**
 * -----------------------------------------------------------------------------
 * $SITE
 * -----------------------------------------------------------------------------
 */
/**
 * 1. See _body.scss for font-size reset.
 */
.site-wrapper {
  font-size: 1.9rem;
  /* 1. */ }

/**
 * -----------------------------------------------------------------------------
 * $TEXT
 * -----------------------------------------------------------------------------
 */
.text--h1 {
  margin-bottom: 1rem;
  margin-top: 0;
  color: #e9ecef;
  font-family: "Montserrat", sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2; }

.text--sub-title {
  color: #868e96;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-transform: uppercase; }
