/**
 * -----------------------------------------------------------------------------
 * $TEXT
 * -----------------------------------------------------------------------------
 */
 
.text--h1 { 
    margin-bottom: 1rem;
    margin-top: 0;
    
    color: $color-text-heading;
    font-family: $font-family-heading;
    font-size: $font-size-heading-one;
    font-weight: $font-weight-bold;
    line-height: 1.2;
}

.text--sub-title {
    color: $color-text-subheading;
    font-size: $font-size-small;
    font-style: normal;
    letter-spacing: $letter-spacing-large;
    text-transform: uppercase;
}